<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrewkingmarshall.logtofile">

    <application>
        <provider
            android:name=".FileLoggerInitProvider"
            android:authorities="${applicationId}.com.andrewkingmarshall.logtofile.FileLoggerInitProvider"
            android:exported="false"
            />

        <provider
            android:name=".LogFileProvider"
            android:authorities="${applicationId}.com.andrewkingmarshall.logtofile.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>
</manifest>